a
    font-family hfnss
    color pointColor
    font-size 2em
    -webkit-font-smoothing none
    
    padding-top 4px
    padding-bottom 4px
    padding-left 8px
    padding-right 8px
    
    margin-right 4px

    display inline-block
    
    cursor pointer
    
    border-left 2px solid ignorable0
    border-top 2px solid ignorable0
    border-right 2px solid ignorable3
    border-bottom 2px solid ignorable3
    
    &:hover
        color pointier
    
    &:active
        border-left 2px solid ignorable3
        border-top 2px solid ignorable3
        border-right 2px solid ignorable0
        border-bottom 2px solid ignorable0
        
    &.selected
        border-left 2px solid ignorable3
        border-top 2px solid ignorable3
        border-right 2px solid ignorable0
        border-bottom 2px solid ignorable0

.close
    float right
    margin-right 0px
    
.left-space
    margin-left 16px
